kubectl create secret generic jwt-secret --from-literal=JWT_SECRET=
kubectl create secret generic mongo-url --from-literal=MONGO_URL=
kubectl create secret generic aws-access-key-id --from-literal=AWS_ACCESS_KEY_ID=
kubectl create secret generic aws-secret-access-key --from-literal=AWS_SECRET_ACCESS_KEY=
kubectl create secret generic s3-base-url --from-literal=S3_BASE_URL=
